body{
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
}

h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    box-shadow: 0 0 15px black;
    border-radius: 50px;
}

div{
    background-color: orange;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
    border-radius: 50px;
}
